#logo {

  height:50px;
  width: auto;
  margin-left: 15px;
}

.container {
    max-width: 1200px;
    margin:auto;
    background: white;
    overflow:auto;

  }

.pics {
  margin: 5px;
  float: left;
  width: 390px;

}

.pics img{
  width: 100%;
  height: auto;

}

#paragraph {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 690px;
}
.footer {

  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
}

@media(min-width: 480px) {

  .pics {
    margin: 20px;
    float: left;
    width: 390px;
  
  }
  #paragraph {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
  }
}

@media(min-width: 800px) {
  .pics {
    margin: 1px;
    float: left;
    width: 390px;
  }
}

@media(min-width: 1024px) {

  .pics {
    margin: 1px;
    float: left;
    width: 320px;
  }

  .pics img{
    width: 100%;
    height: auto;
  
  }
  #paragraph {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
   text-wrap: 100px;

  }
}

@media(min-width: 1100px) {

  .pics {
    margin: 1px;
    float: left;
    width: 350px;
  }
  #paragraph {
    
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
   text-wrap:100px;

  }

  #logo {

    height:50px;
    width: auto;
    margin-left: 1%;
  }
}